body{
    background-color: #dee9ed;;
}
.profile-pic {
    width: 75px;
    height: 72px;
    border-radius: 75%;
    object-fit: contain;
    background-color: #1F1E1E;
    /* padding: 10px; */
}
.no-color{
    padding: 10px;
}

.contain{
    background-color:#7c53d6;
    color: white;
    font-family: initial;
    padding:10px;

}
.contain1{
    background-color:#4d465f;
    color: white;
    font-family: initial;
    padding:10px;
}
.contain2{
    background-color:#252428;
    color: white;
    font-family: initial;
    padding:10px;
}
.p-4{
    padding: 0.5rem;
}